@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


:root{
    --White: hsl(0, 0%, 98%);
    --Gray: hsl(0, 0%, 41%);
    --Black: hsl(0, 0%, 8%);
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Epilogue;
    background-color: var(--White);
}
nav, main{
    max-width: 1440px;
    min-width: 375px;
}
p{
    font-size: 18px;
    font-weight: 500;
    color: var(--Gray);
}
h1{
    font-weight: 700;
    color: var(--Black);
}
a{
    text-decoration: none;
    color: var(--Gray);
}
li{
    list-style: none;
    color: var(--Gray);
    cursor: pointer;
}
.display-none{
    display: none !important;
}

/* a hover states */
a:hover, .drop_down-arrows span:hover{
    color: var(--Black);
}

/* Navigation Styles */
/* Repeated styles - refactored */
nav, .navigation_menu, .drop_down-arrows, .login_register--links{
    display: flex;
    align-items: center;
}
/* normal styles */
nav{
    padding: 2rem;
    justify-content: space-between;
    gap: 2rem;
}

.navigation_menu{
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.8rem;
}
.navigation_links{
    display: flex;
    gap: 2rem;
}
.login_register--links{
    gap: 2rem;
}
.btn--second{
    border: solid 2px var(--Gray);
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    transition: 0.2s;
}
.btn--second:hover{
    border-color: var(--Black);
}
/* Drop down styles */
.drop_down-arrows{
    position: relative;
    gap: 0.2rem;
}
.drop_down{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--White);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.5rem 1.5rem;
    position: absolute;
    top: 3rem;
    transition: 0.5s;
    opacity: 0;
}
.drop_down li{
    position: relative;
    display: flex;
    gap: 10px;
}
.drop_down-arrows{
    cursor: pointer;
}
/* drop down separate styling */
.feature_dropdown{
    width: 100px;
    right: 0px;
}
.company_dropdown{
    width: 75px;
}
/* Drop down animation for when you hover over the featured and company buttons */
.drop_down-animation{
    opacity: 1;
    top: 2rem;
}

/* Intro content Styles */
.main-section{
	display: flex;
	justify-content: center;
	gap: 3rem;
}
.intro_content{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 2rem;
}
.content{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.content h1{
	font-size: 4.5rem;
}
.btn--primary{
	background-color: var(--Black);
	margin-top: 2rem;
	color: var(--White);
    padding: 1rem 1.7rem;
    border-radius: 0.8rem;
	border: 1px solid var(--Black);
    transition: 0.2s;
}
.btn--primary:hover{
	background-color: var(--White);
	color: var(--Black);
}
.content-brands{
	width: 100%;
	display: flex;
	gap: 1rem;
}
.content-brands img{
	width: 70px;
}
.intro_image{
	display: flex;
	justify-content: center;
	width: 40%;
}
.hero_image-desktop{
	width: 90%;
}

/* Front end mentor footer styles*/